.collapse-list {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.collapse-open {
    display: none;
}

.collapse-panel {
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height .1s,
    visibility .3s,
    opacity .3s;
}

.collapse-open:checked ~ .collapse-panel {
    max-height: 100%;
    opacity: 100;
    visibility: visible
}

.collapse-list .collapse-btn {
    cursor: pointer;
    display: block;
    padding: 15px 10px;
    margin-bottom: 0;
    color: #c2c2c2;
    font-weight: normal;
    transition: background-color .2s ease;
    border-radius: 8px;
}

.collapse-list .collapse-btn:hover {
    background: rgba(0, 0, 0, 0.22);
}

.collapse-open ~ .collapse-btn:before {
    content: "↓";
    float: right;
}

.collapse-open:checked ~ .collapse-btn:before {
    content: "↑";
}

.collapse-list .collapse-inner {
    padding: 10px
}
