@import "slider.css";
@import "toggle.css";
@import "collapse.css";

.dashboard {
    position: fixed;
    top: 15px;
    right: 0;
    margin-right: 20px;
    color: #fff;
}

.overlay_panel {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 350px;
    margin-bottom: 15px;
}

.panel_line.headline {
    text-align: center;
    margin-bottom: 15px;
}

.panel_line.linear {
    display: flex;
    flex-wrap: wrap;
}

.panel_line:first-child {
    margin-top: 0;
}

div.panel_line > * {
    margin-bottom: 10px;
}

h2 {
    margin: 0;
}

.start_button {
    width: 100px;
}

.button {
    border-color: transparent;
    background-color: #f8f8f8;
    color: #444;
    position: relative;
    display: inline-block;
    padding: 0 12px;
    min-width: 52px;
    min-height: 47px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 42px;
    cursor: pointer;
    margin: 0 5px 0 0;
}

.button:focus {
    outline: 0;
}

.button.button-positive {
    border-color: transparent;
    background-color: #387ef5;
    color: #fff;
}
