@import "context-menu.css";

.canvas_panel {
    position: relative;
}

#svg-grid, #ant-canvas  {
    margin: 25px;
    position: absolute;
}

#ant-canvas {
    pointer-events: none;
}

.layer_hide {
    display: none;
}

.grid-circle {
    fill: #e6e6e6;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.grid-line-text {
    font-size: 12px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.circle-click {
    fill: #bdbdbd;
}

.start-pos {
    fill: #3DA028;
}

.end-pos {
    fill: #F60018;
}

.trail-point {
    fill: #007298;
}

.grid-line {
    stroke: rgba(115, 120, 110, 0.80);
    stroke-width: 5px;
    stroke-dashoffset: 0;
    -webkit-transition: stroke-dashoffset 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: stroke-dashoffset 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
    -ms-transition: stroke-dashoffset 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: stroke-dashoffset 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: stroke-dashoffset 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
}
