.range_slider_container {
    position: relative;
    height: 15px;
    margin: 18px 0;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    position: absolute;
    margin: 0;
    background-color: transparent;
}

.range_value_bar {
    width: 100%;
    content:"0";
    background-color: #387ef5;
    position: absolute;
    z-index: 10000;
    height: 10px;
    top: 0;
    margin: 0;
    border-radius: 5px;
}

.range_value {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 14px;
    padding: 8px;
    color: #387ef5;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.08);
    text-align: center;
}

input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0 0 0 #000000, 0 0 0 #0d0d0d;
    background: #387ef5;
    border-radius: 5px;
    border: 0 solid #000101;
    z-index: 100000;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.08);
    border: 7px solid #FFF;
    height: 25px;
    width: 25px;
    border-radius: 15px;
    background: #387ef5;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
    position: relative;
    z-index: 100000;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0 0 0 #000000, 0 0 0 #0d0d0d;
    background: #000;
    border-radius: 25px;
    border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0 0 0 #000000, 0 0 0 #0d0d0d;
    border: 0 solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #000000;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #000;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0 0 0 #000000, 0 0 0 #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #000;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0 0 0 #000000, 0 0 0 #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 0 0 0 #000000, 0 0 0 #0d0d0d;
    border: 0 solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #000;
    cursor: pointer;
}
